@charset "utf-8";

html {
    scroll-behavior: smooth;
}

* {
    font-size: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body,
html {
    background-image: linear-gradient(to right, #f8f4ef,
            #f8f4ef);

}

.container-fluid {
    width: 100%;
    height: 100%;
}

/*navbar*/
.nav-link {
    padding: 10px 20px 5px 20px;
    cursor: pointer;
    position: relative;
    user-select: none;

}

.nav-link::before {
    content: "";
    height: 3px;
    width: 0%;
    background-color: #c09561;

    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 3px;
    transition: all 0.1s ease-in-out;
}

.nav-link:hover::before {

    width: 100%;

}

nav {
    height: 100px;
    background-color: #c09561;


}

.navbar {
    background-image: linear-gradient(to right, #f8f4ef,
            #f8f4ef);
    color: #c09561;
}

.container .form-control {
    border-radius: 20px;
    margin-top: 25px;
    max-width: 250px;
}

#logo {
    padding-top: 30px;
    width: 170px;
    height: 170px;

}

.card {
    height: 100%;
    margin-bottom: 0px;
    background-color: white;
    color: #8b622f;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    border: none;
    border-radius: 23px;
}

.card-header {
    background-color: white;
    color: #8b622f;
}

.card-body {
    background-image: linear-gradient(rgb(240, 227, 227), rgb(227, 224, 224));
}

.card-title {
    text-align: center;
    font-size: larger;
    color: #8b622f;
}

.card-text {
    text-align: justify;
    color: #8b622f;
}

.social {
    height: 55px;
    width: auto;
    float: right;
    padding-bottom: 20px;
    margin-left: 25px;

}

/*Rendo i pulsanti piu interattivi*/
.card .btn-primary {
    background-color: #c09561;
    color: #956f41;
    border: none;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    border-radius: 55px;
    box-shadow: 0 6px 0 0 #8b622f;
    transition: all 0.1s ease-in-out;
    margin-top: 15px;
}

.btn-primary:active {
    transform: translateY(10px);
    box-shadow: 0 0 0 0 #956b37;
}

.container .btn-primary {
    background-color: #c09561;
    color: #956f41;
    border: none;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    border-radius: 55px;
    box-shadow: 0 6px 0 0 #8b622f;
    transition: all 0.1s ease-in-out;
    margin-top: 15px;
}

.btn-primary:active {
    transform: translateY(10px);
    box-shadow: 0 0 0 0 #956b37;
}

.btn-primary {
    background-color: #c09561;
    color: #956f41;
    border: none;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    border-radius: 55px;
    box-shadow: 0 6px 0 0 #8b622f;
    transition: all 0.1s ease-in-out;
    margin-top: 15px;
}

.btn-primary:active {
    transform: translateY(10px);
    box-shadow: 0 0 0 0 #956b37;
}


a:link {
    text-decoration: none;

}


/*css footer*/
a:hover {
    color: #c09561;
}

#footer {
    background-image: linear-gradient(to right, #f8f4ef,
            #f8f4ef);
    color: #c09561;


}

.footer-img {
    width: 100%;

}

.footer-box {
    padding: 20px;
}

.footer-box img {
    width: 170px;
    height: 170px;
    margin-bottom: 20px;
}

.footer-box .form-control {
    border-radius: 20px;
    margin-top: 25px;
    max-width: 250px;
}

.footer-box .btn-primary {
    border-radius: 20px;
    margin-top: 25px;
    box-shadow: 0 6px 0 0 #8b622f;
    border: none;
    background-color: #c09561;
    color: #956b37;
}

/*ANIMAZIONE*/


html,body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    ;  
}
.thankyou-page ._header {
    background: #c09561;
    padding: 100px 30px;
    text-align: center;
    background: #c09561 url(https://codexcourier.com/images/main_page.jpg) center/cover no-repeat;
}
a{
    text-decoration: none;
}
.thankyou-page ._header .logo {
    max-width: 200px;
    margin: 0 auto 50px;
}
.thankyou-page ._header .logo img {
    width: 100%;
}
.thankyou-page ._header h1 {
    font-size: 65px;
    font-weight: 800;
    color: #eacdaa;
    margin: 0;
}
.thankyou-page ._body {
    margin: -70px 0 30px;
}
.thankyou-page ._body ._box {
    margin: auto;
    max-width: 80%;
    padding: 50px;
    background: #f2e5d5;
    border-radius: 3px;
    box-shadow: 0 0 35px rgba(10, 10, 10,0.12);
    -moz-box-shadow: 0 0 35px rgba(10, 10, 10,0.12);
    -webkit-box-shadow: 0 0 35px rgba(10, 10, 10,0.12);
}
.thankyou-page ._body ._box h2 {
    font-size: 32px;
    font-weight: 600;
    color: #8b622f;
}
.thankyou-page ._footer  {
    text-align: center;
    padding: 50px 30px;
}
p , h2{
    text-align: center;
}
.thankyou-page ._footer .btn {
    border-radius: 20px;
    margin-top: 25px;
    box-shadow: 0 6px 0 0 #8b622f;
    border: none;
    background-color: #c09561;
    color: #956b37;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.8px;
    padding: 20px 33px;
    text-transform: uppercase;
}