@charset "utf-8";

html {
    scroll-behavior: smooth;
}

* {
    font-size: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body,
html {
    background-image: linear-gradient(to right, #f8f4ef
    ,
    #f8f4ef);
    
}

.container-fluid {
    width: 100%;
    height: 100%;
}

/*navbar*/
.nav-link {
    padding: 10px 20px 5px 20px;
    cursor: pointer;
    position: relative;
    user-select: none;

}

.nav-link::before {
    content: "";
    height: 3px;
    width: 0%;
    background-color:#c09561 ;

    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 3px;
    transition: all 0.1s ease-in-out;
}

.nav-link:hover::before {

    width: 100%;

}

nav {
    height: 100px;
    background-color: #c09561
    ;


}

.navbar {
    background-image: linear-gradient(to right, #f8f4ef
    ,
    #f8f4ef
    );
    color: #c09561;
}

.container .form-control {
    border-radius: 20px;
    margin-top: 25px;
    max-width: 250px;
}

#logo{
    padding-top: 30px;
    width: 170px;
    height: 170px;

}
.card {
    height: 100%;
    margin-bottom: 0px;
    background-color: white;
    color: #581845;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    border: none;
    border-radius: 23px;
}

.card-header{
    background-color: white;
    color: #581845;
}
.card-body{
    background-image: linear-gradient(rgb(240, 227, 227), rgb(227, 224, 224));
}
.card-title {
    text-align: center;
    font-size: larger;
    color: #581845;
}

.card-text {
    text-align: justify;
    color: #581845;
}

.social {
    height: 55px;
    width: auto;
    float: right;
    padding-bottom: 20px;
    margin-left: 25px;

}
/*Rendo i pulsanti piu interattivi*/
.container .btn-primary{
    background-color: #581845 ;
    color: #FFDB58;
    border: none;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    border-radius: 55px;
    box-shadow: 0 6px 0 0  #401123;
    transition: all 0.1s ease-in-out;
}
.btn-primary:active{
    transform: translateY(10px);
    box-shadow: 0 0 0 0  #401123;
}

.container .btn-light{
    background-color: #581845 ;
    color: #FFDB58;
    border: none;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    border-radius: 55px;
    box-shadow: 0 6px 0 0  #401123;
    transition: all 0.1s ease-in-out;
    margin-top: 15px;
}
.btn-light:active{
    transform: translateY(10px);
    box-shadow: 0 0 0 0  #401123;
}
.container .btn-outline-success {
    background-color: green;
    color: rgb(1, 57, 1);
    border: none;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    border-radius: 55px;
    box-shadow: 0 10px 0 0  darkgreen;
    transition: all 0.1s ease-in-out;

}
.btn-outline-success:active{
    transform: translateY(10px);
    box-shadow: 0 0 0 0  darkgreen;
}
a:link {
    text-decoration: none;
  
}

/* link non visitato */
a:link {
    color: rgb(6, 4, 4);
}



/* mouse sul link; a:hover DEVE venire dopo a:link e a:visited in CSS*/
a:hover {
    color: hotpink;
}


  

    #footer {
        color: #581845;
        background-color: #f8f9fa;
    
    }
    
    .footer-img {
        width: 100%;
    }
    
    .footer-box {
        padding: 20px;
    }
    
    .footer-box img {
        width: 120px;
        margin-bottom: 20px;
    }
    
    .footer-box .form-control {
        border-radius: 20px;
        margin-top: 25px;
        max-width: 250px;
    }
    
    .footer-box .btn-primary {
       
        margin-top: 25px;
        
        border: none;
        
    }