<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it" class="h-100">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="static/css/area_admin.css" rel="stylesheet" />

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.2/css/fontawesome.min.css">
  <script src="https://kit.fontawesome.com/d91ccb3073.js"></script>
  <title>Area Admin</title>
</head>

<body>
  <div class="container-fluid">

    <!--INIZIO NAVBAR-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-top: -20px;">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img id="logo" src="Cancelleria_ArtSquare.png" alt="logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item" >
              <a class="nav-link" href="area_ordini.html">Gestione Ordini</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="area_clienti.html">Gestione Clienti</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="area_prodotti_e_categorie.html">Gestione Prodotti</a>
            </li>            
          </ul>       
        </div>
      </div>
    </nav>
    <!--FINE NAVBAR-->

    <!--banner-->
    
<section><h2>Pannello di Amministrazione</h2></section>
   
    <!--FOOTER-->
    <section id="footer">
      <img th:src="@{static/image/wave1.png}" class="footer-img" />
      <div class="container">
        <div class="row">
          <div class="col-md-4 footer-box">
            <img th:src="@{static/image/CancelleriaArtSquare.png}">
            <!--logo-->
            <p>© Cartoleria ArtSquare. All Rights Reserved
            </p>
          </div>
          <div class="col-md-4 footer-box">
            <p><b>DOVE TROVARCI:</b></p>
            <p><i class="fa-solid fa-map-location"></i> Via delle Ginestre, 89 (RM)</p>
            <p><i class="fa fa-phone"></i> 081-540-9870</p>
            <p><i class="fa fa-envelope-o"></i> ArtSquare@info.com</p>
          </div>

          <div class="col-md-4 footer-box">
            <p><b>ISCRIVITI ALLA NEWSLETTER</b></p>
            <input type="email" class="form-control" placeholder="Inserisci la tua e-mail">
            <button type="button" class="btn btn-light">Iscriviti</button>
          </div>
        </div>
      </div>
    </section>
    </div>
</body>

</html>