<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it" class="h-100">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link th:href="@{static/css/area_ordini.css}" rel="stylesheet" />

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.2/css/fontawesome.min.css">
    <script src="https://kit.fontawesome.com/d91ccb3073.js"></script>
    <title>Area Ordini</title>
</head>

<body>
    <div class="container-fluid">

        <section ><h2>PANNELLO DI AMMINISTRAZIONE</h2></section>

        <header><h3>Gestione Ordini</h3></header>
   
 <!--CARD-->
    <div class="row mt-4">
        <div class="col-7">
          <div class="card">
            <div class="card-body">
                    <!--inizio table CLIENTI-->
        
            <table class="table" style="float: left">
                <thead>
                    <tr>
                        <th th:text="#{label.date}" scope="col"></th>
                        <th th:text="#{label.price}" scope="col"></th>
                        <th th:text="#{label.article}" scope="col"></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="o : ${ordini}">
						<td th:text="${o.data}"></td>
						<td th:text="${o.totaleOrdine}"></td>
						<td th:text="${o.listaProdotti}"></td>
						<td class="text-end">
							<a th:href="@{/ordini(id=${o.id})}" class="btn btn-light large-button" th:text="#{btn.show}"></a>
							<a th:href="@{/confermaeliminazione(id=${o.id}, type='ordine')}" class="btn btn-danger large-button" th:text="#{btn.delete}"></a>
						</td>
					</tr>
                </tbody>
            </table>
            </div>
          </div>
        </div>
        <div class="col-1"></div>
		<div class="col-4">
          <div th:if="${mostraForm}" class="card">
            <div class="card-body">
                <br class="mb-3">
                    <form method="POST" th:object="${ordine}">
						<div class="row">
							<div class="col-12">
								<label for="data" th:text="#{label.date} + ':'"></label>
								<input type="text" id="name" th:field="*{data}" 
									class="form-control" readonly="readonly">
								<p th:if="${#fields.hasErrors('data')}" th:errors="*{data}" 
									class="text-danger"></p>
							</div>
						</div>
						<div class="row">
							<div class="col-12">
								<label for="totaleOrdine" th:text="#{label.price} + ':'"></label>
								<input type="text" id="totaleOrdine" th:field="*{totaleOrdine}" class="form-control" 
									readonly="readonly">
								<p th:if="${#fields.hasErrors('totaleOrdine')}" th:errors="*{totaleOrdine}" 
									class="text-danger"></p>
							</div>
						</div>
						<div class="row">
							<div class="col-12">
								<label for="utente.cognome" th:text="#{label.user} + ':'"></label>
								<input type="text" id="utente.cognome" th:field="*{utente.cognome}" class="form-control" 
									readonly="readonly">
								<p th:if="${#fields.hasErrors('utente.cognome')}" th:errors="*{utente.cognome}" 
									class="text-danger"></p>
							</div>
						</div>
						<div class="row">
							<div class="col-12">
								<label for="listaProdotti" th:text="#{label.includedarticles} + ':'"></label>
								<input type="text" id="listaProdotti" th:field="*{listaProdotti}" class="form-control" 
									readonly="readonly">
								<p th:if="${#fields.hasErrors('listaProdotti')}" th:errors="*{listaProdotti}" 
									class="text-danger"></p>
							</div>
						</div>
						<div class="row mt-4">
							<div class="col-12 text-center">
								<a th:href="@{/ordini}" th:text="#{btn.back}" class="btn btn-primary large-button"></a>
							</div>
						</div>
					</form>
                  </div>
            </div>
          </div>
        </div>
      </div>
                 <!--FINE CARD-->

     
            

    <!--FOOTER-->
    <section id="footer">
        <div class="pulsanti">
                
              <a th:href="@{/utenti}">  
                <button type="button" class="btn btn-link">Gestione Cliente</button>
              </a>
              <a th:href="@{/ordini}">  
                <button type="button" class="btn btn-link">Gestione Ordinativo</button>
              </a>
              <a th:href="@{/prodotti}">  
                <button type="button" class="btn btn-link">Gestione Prodotti</button>
              </a>

     
        </div>
       
    </section>
    </body>
    </html>