<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it" class="h-100">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=! initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="static/css/Form.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.2/css/fontawesome.min.css">
    <script src="https://kit.fontawesome.com/d91ccb3073.js"></script>
    <title>Form</title>
</head>

<body>
    <div class="container-fluid">


        <!--INIZIO NAVBAR-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-top: -20px;">
            <div class="container-fluid">
                <a class="navbar-brand" th:href="@{/}"><img id="logo" th:src="@{static/image/Cancelleria_ArtSquare.png}" alt="logo"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <button class="btn btn-transparent dropdown-toggle" type="button" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false" style="color: #c09561;">
                                Home
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" th:href="@{/}">Homepage</a></li>
                                <li><a class="dropdown-item" th:href="@{/shop}">Offerte</a></li>
                                <li><a class="dropdown-item" th:href="@{/lavoraconnoi}">Lavora con noi</a></li>
                                <!--form da inserire per cv e mail-->


                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <button class="btn btn-transparent dropdown-toggle" type="button" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false" style="color: #c09561;">
                                Categorie
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" th:href="@{/cancelleria}">Cancelleria</a></li>
                                <li><a class="dropdown-item" th:href="@{/carta}">Carta</a></li>
                                <li><a class="dropdown-item" th:href="@{/cartucce}">Cartucce e Toner</a></li>
                                <li><a class="dropdown-item" th:href="@{/macchine}">Macchine ufficio</a></li>
                                <li><a class="dropdown-item" th:href="@{/spedizione}">Spedizione</a></li>
                                <li><a class="dropdown-item" th:href="@{/informatica}">Informatica</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <button class="btn btn-transparent dropdown-toggle" type="button" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false" style="color: #c09561;">
                                Accessori
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Work in progress</a></li>


                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <button class="btn btn-transparent dropdown-toggle" type="button" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false" style="color: #c09561;">
                                Contattaci
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Instagram</a></li>
                                <li><a class="dropdown-item" href="#">Facebook</a></li>
                                <li><a class="dropdown-item" href="#">Twitter</a></li>
                                <li><a class="dropdown-item" href="#">Whatsapp</a></li>
                                <li><a class="dropdown-item" href="#">Gmail</a></li>

                            </ul>
                        </li>
                    </ul>

                    <!--inserire button registrazione e login
                    collegare le 2 page-->


                </div>
            </div>
        </nav>
        <!--FINE NAVBAR-->

        <!--FORM INIZIO-->
        <div class="page-content">
            <div class="form-v10-content">
                <form class="form-detail" method="post" id="myform" th:object="${utente}">
                    <div class="form-left">
                        <h2>Informazioni Iscrizione</h2>
                        <div class="form-row">
                        </div>
                        <div class="form-group">
                            <div class="form-row form-row-1">
                                <input type="text" th:field="*{nome}" id="first_name" class="input-text"
                                    placeholder="Nome" required>
                                <p th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" 
									class="text-danger"></p>
                            </div>
                            <div class="form-row form-row-2">
                                <input type="text" th:field="*{cognome}" id="last_name" class="input-text"
                                    placeholder="Cognome" required>
                                <p th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}" 
									class="text-danger"></p>
                            </div>

                        </div>
                        
                        <div class="form-row form-row-3">
	                        <input type="text"  id="username" class="input-text" th:field="*{profilo.username}"
	                                    placeholder="Username" required>
	                       <p th:if="${#fields.hasErrors('profilo.username')}" th:errors="*{profilo.username}" 
									class="text-danger"></p>
						</div>
                        <div class="form-row">
                            <input type="password" th:field="*{profilo.password}" id="password" class="input-password" placeholder="Password"
                                required>
                            <p th:if="${#fields.hasErrors('profilo.password')}" th:errors="*{profilo.password}" 
									class="text-danger"></p>
                        </div>
                            <div class="form-row form-row-4">
                                <input type="text" th:field="*{email}" id="your_email" class="input-text" required
                                    pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}" placeholder="E-mail">
                                 <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" 
									class="text-danger"></p> 
                            </div>
                    </div>
                    <div class="form-right">
                        <h2>Informazioni Spedizione</h2>
                        <div class="form-row">
                            <input type="text" th:field="*{indirizzo}" class="street" id="street" placeholder="Via + Numero"
                                required>
                            <p th:if="${#fields.hasErrors('indirizzo')}" th:errors="*{indirizzo}" 
									class="text-danger"></p>
                        </div>
                        <div class="form-group">
                            <div class="form-row form-row-1">
                                <input type="text" th:field="*{cap}" class="zip" id="zip" placeholder="Codice Postale"
                                    required>
                                <p th:if="${#fields.hasErrors('cap')}" th:errors="*{cap}" 
									class="text-danger"></p>
                            </div>
                            <div class="form-row form-row-2">
                                <input type="text" th:field="*{citta}" placeholder="Comune" required>
                                
                                
                            </div>
                        </div>
                        <div class="form-row">
                            <select th:field="*{regione}">
                                <option th:value="Regione" selected disabled>-- Regione --</option>
                                <option th:value="Abruzzo">Abruzzo</option>
                                <option th:value="Basilicata">Basilicata</option>
                                <option th:value="Calabria">Calabria</option>
                                <option th:value="Campania">Campania</option>
                                <option th:value="Emilia">Emilia Romagna</option>
                                <option th:value="Friuli">Friuli Venezia Giulia</option>
                                <option th:value="Lazio">Lazio</option>
                                <option th:value="Liguria">Liguria</option>
                                <option th:value="Lombardia">Lombardia</option>
                                <option th:value="Marche">Marche</option>
                                <option th:value="Molise">Molise</option>
                                <option th:value="Piemonte">Piemonte</option>
                                <option th:value="Puglia">Puglia</option>
                                <option th:value="Sardegna">Sardegna</option>
                                <option th:value="Sicilia">Sicilia</option>
                                <option th:value="Lazio">Toscana</option>
                                <option th:value="Trentino">Trentino Alto Adige</option>
                                <option th:value="Umbria">Umbria</option>
                                <option th:value="Aosta">Val d'Aosta</option>
                                <option th:value="Veneto">Veneto</option>
                            </select>
                            <span class="select-btn">
                                <i class="zmdi zmdi-chevron-down"></i>
                            </span>
                        </div>
                        <div class="form-group">
                            <div class="form-row form-row-1">
                                <input type="text" th:field="*{provincia}" class="code" id="code" placeholder="Provincia, es. RM" required>
                                <p th:if="${#fields.hasErrors('provincia')}" th:errors="*{provincia}" 
									class="text-danger"></p>
                            </div>
                            <div class="form-row form-row-2">
                                <input type="text" th:field="*{telefono}" class="phone" id="phone" placeholder="Numero Telefono"
                                    required>
                                <p th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}" 
									class="text-danger"></p>
                            </div>
                        </div>

                        <div class="form-checkbox">
                            <label class="container">
                                <p>Accetto i <a href="#" class="text">Termini e Condizioni</a></p>
                                <input type="checkbox" name="checkbox">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="form-row-last">
                            <input type="submit" name="register" class="register" value="Registrati">
                        </div>
                    </div>
                </form>

                <!--FORM FINE-->

                <!--FOOTER-->
                <section id="footer">
                    <img th:src="@{static/image/wave1.png}" class="footer-img" />
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 footer-box">
                                <img th:src="@{static/image/Cancelleria_ArtSquare.png}">
                                <!--logo-->
                                <p>© Cartoleria Moon. All Rights Reserved
                                </p>
                            </div>
                            <div class="col-md-4 footer-box">
                                <p><b>DOVE TROVARCI:</b></p>
                                <p><i class="fa-solid fa-map-location"></i> Via delle Ginestre, 89 (RM)</p>
                                <p><i class="fa fa-phone"></i> 081-540-9870</p>
                                <p><i class="fa fa-envelope-o"></i> Moon@info.com</p>
                            </div>

                            <div class="col-md-4 footer-box">
                                <p><b>ISCRIVITI ALLA NEWSLETTER</b></p>
                                <input type="email" class="form-control" placeholder="Inserisci la tua e-mail">
                                <button type="button" class="btn btn-light">Iscriviti</button>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

    </div>
</body>

</html>