<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it" class="h-100">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=! initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link th:href="@{static/css/lavora_con_noi.css}" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.2/css/fontawesome.min.css">
    <script src="https://kit.fontawesome.com/d91ccb3073.js"></script>
    <title>Lavora con noi </title>
</head>

<body>

    <div class="container-fluid">


        <!--INIZIO NAVBAR-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-top: -20px;">
            <div class="container-fluid">
                <a class="navbar-brand"  th:href="@{/}"><img id="logo" th:src="@{static/image/Cancelleria_ArtSquare.png}" alt="logo"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <button class="btn btn-transparent dropdown-toggle" type="button" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false" style="color: #c09561;">
                                Home
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" th:href="@{/}">Homepage</a></li>
                                <li><a class="dropdown-item" th:href="@{/shop}">Offerte</a></li>
                                <li><a class="dropdown-item" th:href="@{/lavoraconnoi}">Lavora con noi</a></li>
                                <!--form da inserire per cv e mail-->


                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <button class="btn btn-transparent dropdown-toggle" type="button" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false" style="color: #c09561;">
                                Categorie
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" th:href="@{/cancelleria}">Cancelleria</a></li>
                                <li><a class="dropdown-item" th:href="@{/carta}">Carta</a></li>
                                <li><a class="dropdown-item" th:href="@{/zaini}">Zaini e borse</a></li>
                                <li><a class="dropdown-item" th:href="@{/bellearti}">Belle Arti</a></li>
                                <li><a class="dropdown-item" th:href="@{/penne}">Penne Stilografiche</a></li>
                                <li><a class="dropdown-item" th:href="@{/informatica}">Informatica</a></li>

                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <button class="btn btn-transparent dropdown-toggle" type="button" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false" style="color: #c09561;">
                                Accessori
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Work in progress</a></li>


                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <button class="btn btn-transparent dropdown-toggle" type="button" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false" style="color: #c09561;">
                                Contattaci
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Instagram</a></li>
                                <li><a class="dropdown-item" href="#">Facebook</a></li>
                                <li><a class="dropdown-item" href="#">Twitter</a></li>
                                <li><a class="dropdown-item" href="#">Whatsapp</a></li>
                                <li><a class="dropdown-item" href="#">Gmail</a></li>

                            </ul>
                        </li>
                    </ul>

                      <a th:href="@{/login}">
                        <button type="button" class="btn btn-light">Login</button>
                      </a> &nbsp;
                      <a th:href="@{/registrazione}">
                        <button type="button" class="btn btn-light">Registrati</button>
                      </a> &nbsp;


                </div>
            </div>          
        </nav>
        </div>
        <!--FINE NAVBAR-->

        <!--Form upload-->
        
        <div class="page-content">
            <div class="form-v10-content">
                <form class="form-detail" action="#" method="post" id="myform">
                    <div class="form-left">
                        <h2>Informazioni Iscrizione</h2>
                        <div class="form-row">
                        </div>
                        <div class="form-group">
                            <div class="form-row form-row-1">
                                <input type="text" name="first_name" id="first_name" class="input-text"
                                    placeholder="Nome" required>
                            </div>
                            <div class="form-row form-row-2">
                                <input type="text" name="last_name" id="last_name" class="input-text"
                                    placeholder="Cognome" required>
                            </div>

                        </div>

                        
                        <div class="form-group">
                            <div class="form-row form-row-3">
                                <input type="text" name="your_email" id="your_email" class="input-text" required
                                    pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}" placeholder="E-mail">
                            </div>
                            <div class="form-row form-row-4">

                            </div>
                        </div>
                    </div>
                    
                  </form>
                
                    <div class="form-right">
                        <form class="upload-dragdrop" method="post" action="" enctype="multipart/form-data" data-bs-upload-dragdrop>
                            <div class="container">
                                <div class="row">
                                  <div class="col">
                                    <img class="icona" th:src="@{static/image/pdf-icon-1.png}" alt="icona carica file pdf" aria-hidden="true">
                                  </div>
                                  <div class="col-7">
                                    <input type="file" name="upload7" id="upload7" class="upload-dragdrop-input" /><label
                                        for="upload7"></label>
                                  </div>
                                  <div class="col">
                                    <input value="Submit" type="submit" class="d-none" />
                                    <a href="mailto:sarademagistris31@gmail.com"><button type="button" class="btn btn-light1">Manda CV</button></a> 
                                  </div>
                                </div>
                              </div>
                        </form>
                    </div>
                   </div>
              	</div>

                <!--FORM FINE-->
        
        
        <!--footer-->
        <section id="footer">
            <img th:src="@{static/image/wave1.png}" class="footer-img" />
            <div class="container">
                <div class="row">
                    <div class="col-md-4 footer-box">
                        <img th:src="@{static/image/Cancelleria_ArtSquare.png}">
                        <!--logo-->
                        <p>© Cartoleria Moon. All Rights Reserved
                        </p>
                    </div>
                    <div class="col-md-4 footer-box">
                        <p><b>DOVE TROVARCI:</b></p>
                        <p><i class="fa-solid fa-map-location"></i> Via delle Ginestre, 89 (RM)</p>
                        <p><i class="fa fa-phone"></i> 081-540-9870</p>
                        <p><i class="fa fa-envelope-o"></i> Moon@info.com</p>
                    </div>

                    <div class="col-md-4 footer-box">
                        <p><b>ISCRIVITI ALLA NEWSLETTER</b></p>
                        <input type="email" class="form-control" placeholder="Inserisci la tua e-mail">
                        <button type="button" class="btn btn-light">Iscriviti</button>
                    </div>
                </div>
            </div>
        </section>
    
</body>

</html>