<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=! initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <link href="spedizione.css" rel="stylesheet" />

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.2/css/fontawesome.min.css"
        integrity="sha384-X8QTME3FCg1DLb58++lPvsjbQoCT9bp3MsUU3grbIny/3ZwUJkRNO8NPW6zqzuW9" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/d91ccb3073.js" crossorigin="anonymous"></script>
    <title>Informazioni Ordine</title>
</head>

<body>


    <div class="container-fluid">


        <!--INIZIO NAVBAR-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-top: -20px;">
            <div class="container-fluid">
                <a class="navbar-brand" href="Homepage.html"><img id="logo" src="Cancelleria ArtSquare.png"
                        alt="logo"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <button class="btn btn-transparent dropdown-toggle" type="button" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false" style="color: #c09561;">
                                Home
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="Homepage.html">Homepage</a></li>
                                <li><a class="dropdown-item" href="Shop.html">Offerte</a></li>
                                <li><a class="dropdown-item" href="lavora_con_noi.html">Lavora con noi</a></li>
                                <!--form da inserire per cv e mail-->


                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <button class="btn btn-transparent dropdown-toggle" type="button" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false" style="color: #c09561;">
                                Categorie
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="cancelleria.html">Cancelleria</a></li>
                                <li><a class="dropdown-item" href="carta.html">Carta</a></li>
                                <li><a class="dropdown-item" href="zaini.html">Zaini e borse</a></li>
                                <li><a class="dropdown-item" href="belle_arti.html">Belle Arti</a></li>
                                <li><a class="dropdown-item" href="penne_stilografiche.html">Penne stilografiche</a>
                                </li>
                                <li><a class="dropdown-item" href="informatica.html">Informatica</a></li>

                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <button class="btn btn-transparent dropdown-toggle" type="button" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false" style="color: #c09561;">
                                Accessori
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Work in progress</a></li>


                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <button class="btn btn-transparent dropdown-toggle" type="button" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false" style="color: #c09561;">
                                Contattaci
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Instagram</a></li>
                                <li><a class="dropdown-item" href="#">Facebook</a></li>
                                <li><a class="dropdown-item" href="#">Twitter</a></li>
                                <li><a class="dropdown-item" href="#">Whatsapp</a></li>
                                <li><a class="dropdown-item" href="#">Gmail</a></li>

                            </ul>
                        </li>
                    </ul>

                    <a href="FormAccesso.html">
                        <button type="button" class="btn btn-primary">Login</button>
                    </a> &nbsp;
                    <a href="Form.html">
                        <button type="button" class="btn btn-primary">Registrati</button>
                    </a> &nbsp;


                </div>
            </div>
        </nav>
        <!--FINE NAVBAR-->

        <!--Informazioni ordini-->
        <div class="container-fluid">

            <div class="container">
                <!-- Title -->
                <div class="d-flex justify-content-between align-items-center py-3">
                    <h2 class="h5 mb-0"><a href="#" class="text-muted"></a> Ordine #16123222</h2>
                </div>

                <!-- Main content -->
                <div class="row">
                    <div class="col-lg-8">
                        <!-- Details -->
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="mb-3 d-flex justify-content-between">
                                    <div>
                                        <span class="me-3">18-11-2022</span>
                                        <span class="me-3">#16123222</span>
                                        <span class="me-3">Paypal -1234</span>
                                        <span class="badge rounded-pill bg-info">Spedizione</span>
                                    </div>
                                    <div class="d-flex">
                                        
                                        <div class="dropdown">
                                            <button class="btn btn-link p-0 text-muted" type="button"
                                                data-bs-toggle="dropdown">
                                                <i class="bi bi-three-dots-vertical"></i>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-end">
                                                <li><a class="dropdown-item" href="#"><i class="bi bi-pencil"></i>
                                                        Edit</a></li>
                                                <li><a class="dropdown-item" href="#"><i class="bi bi-printer"></i>
                                                        Print</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <table class="table table-borderless">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="d-flex mb-2">
                                                    <div class="flex-shrink-0">
                                                        <img src="tele.belle_arti.jpg"
                                                            alt="" width="35" class="img-fluid">
                                                    </div>
                                                    <div class="flex-lg-grow-1 ms-3">
                                                        <h6 class="small mb-0"><a href="#" class="text-reset">Tele (Belle Arti)
                                                                </a></h6>
                                                        <span class="small">Misura: Piccola</span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>1</td>
                                            <td class="text-end">€5.50</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="d-flex mb-2">
                                                    <div class="flex-shrink-0">
                                                        <img src="stabilo.pennarelli.cancelleria.jpg"
                                                            alt="" width="35" class="img-fluid">
                                                    </div>
                                                    <div class="flex-lg-grow-1 ms-3">
                                                        <h6 class="small mb-0"><a href="#" class="text-reset">Stabilo Point 88
                                                                </a></h6>
                                                        <span class="small">Color: Black</span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>1</td>
                                            <td class="text-end">€2.00</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="2">Subtototale</td>
                                            <td class="text-end">€7.50</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">Spedizione</td>
                                            <td class="text-end">€5.00</td>
                                        </tr>
                                        
                                        <tr class="fw-bold">
                                            <td colspan="2">Totale: </td>
                                            <td class="text-end">€12.50</td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <!-- Payment -->
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <h3 class="h6">Payment Method</h3>
                                        <p>Paypal -1234 <br>
                                            Totale: €12.50 <span class="badge bg-success rounded-pill">Pagato</span></p>
                                    </div>
                                    <div class="col-lg-6">
                                        <h3 class="h6">Informazioni Spedizione</h3>
                                        <address>
                                            <strong>Mario Rossi</strong><br>
                                            Via delle Ginestre, 88<br>
                                            Casoria, 80026 (NA)<br>
                                            <abbr title="Phone">Numero di Telefono: </abbr> 335-904-6715
                                        </address>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <!-- Customer Notes -->
                        <div class="card mb-4">
                            <div class="card-body">
                                <h3 class="h6">Note Cliente: </h3>
                                <p>Consegnare preferibilmente dalle 09.00 alle 11.00</p>
                            </div>
                        </div>
                        <div class="card mb-4">
                            <!-- Shipping information -->
                            <div class="card-body">
                                <h3 class="h6">Informazioni spedizione</h3>
                                <strong>FedEx</strong>
                                <span><a href="#" class="text-decoration-underline" target="_blank">FF1234567890</a> <i
                                        class="bi bi-box-arrow-up-right"></i> </span>
                                <hr>
                                <h3 class="h6">Indirizzo</h3>
                                <address>
                                    <strong>Mario Rossi</strong><br>
                                    Via delle Ginestre, 88<br>
                                    Casoria, 80026 (NA)<br>
                                    <abbr title="Phone">Numero di telefono:</abbr> 335-904-6715
                                </address>
                                <a href="conferma_ordine.html"><button type="button" class="btn btn-primary btn-lg btn-block">Conferma ordine</button></a> <!--inserire la pagina collegata, conferma ordine-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--FOOTER-->
        <section id="footer">
            <img src="wave1.png" class="footer-img" />
            <div class="container">
                <div class="row">
                    <div class="col-md-4 footer-box">
                        <img src="Cancelleria ArtSquare.png">
                        <!--logo-->
                        <p>© Cartoleria Moon. All Rights Reserved
                        </p>
                    </div>
                    <div class="col-md-4 footer-box">
                        <p><b>DOVE TROVARCI:</b></p>
                        <p><i class="fa-solid fa-map-location"></i> Via delle Ginestre, 89 (RM)</p>
                        <p><i class="fa fa-phone"></i> 081-540-9870</p>
                        <p><i class="fa fa-envelope-o"></i> Moon@info.com</p>
                    </div>

                    <div class="col-md-4 footer-box">
                        <p><b>ISCRIVITI ALLA NEWSLETTER</b></p>
                        <input type="email" class="form-control" placeholder="Inserisci la tua e-mail">
                        <button type="button" class="btn btn-primary">Iscriviti</button>
                    </div>
                </div>
            </div>
        </section>
    </div>
    </div>

    </div>

</body>


</html>